################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ESchool/eschool/bin
/ESchool/eschool/obj/Debug
